<%- contentFor('body') %>

<div class="container">
    <h1 class="text-center mb-4">Floor Plans</h1>
    
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card h-100">
                <img src="/images/floorplans/6384347.jpg" class="card-img-top" alt="1 Bedroom">
                <div class="card-body">
                    <h5 class="card-title">1 Bedroom / 1 Bath</h5>
                    <p class="card-text">750 sq ft</p>
                    <ul class="list-unstyled">
                        <li>Starting at $1,200/month</li>
                        <li>Open concept living area</li>
                        <li>Modern kitchen with appliances</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <img src="/images/floorplans/6384347.jpg" class="card-img-top" alt="2 Bedroom">
                <div class="card-body">
                    <h5 class="card-title">2 Bedroom / 2 Bath</h5>
                    <p class="card-text">1,100 sq ft</p>
                    <ul class="list-unstyled">
                        <li>Starting at $1,800/month</li>
                        <li>Split bedroom floor plan</li>
                        <li>Private balcony</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> 