<%- contentFor('body') %>

<div class="container">
    <h1 class="text-center mb-4">Property Information</h1>
    
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>Amenities</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">24/7 Security</li>
                        <li class="list-group-item">Swimming Pool</li>
                        <li class="list-group-item">Fitness Center</li>
                        <li class="list-group-item">Covered Parking</li>
                        <li class="list-group-item">Pet Friendly</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>Policies</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Pet Policy: $30/month pet rent</li>
                        <li class="list-group-item">Parking: 1 spot included</li>
                        <li class="list-group-item">Lease Terms: 12 months minimum</li>
                        <li class="list-group-item">Security Deposit: One month's rent</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> 